{% block title %}Apply for {{ dept_title.title.title }}{% endblock %}

{% block body %}
    <h1>New Application for <strong>{{ dept_title.title.title }}</strong></h1>

    <p>Applicant's name: {{ data.firstName}}</p>

    <p>Applicant's email address: {{ data.email }}</p>


{% endblock %}